.profile-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
}


.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: rgb(33, 55, 58);
    border-radius: 10px;
    padding: 30px;
} 

.profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(3, 1, 128);
}
