.loginForm__text {
    color: #ffff;
}

.loginForm__button {
    color: #ffff;
    background-color: rgb(20, 77, 77);
    margin-top: 15px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}