.moviecard__description {
    color: #fff;    
}

.movie__block {
    display: flex;
}
.movie__img-block {
    margin-right: 30px;
    margin-bottom: 30px;
}

.movie__title {
    color: #fff;
    font-size: 30px;
}

.movie__genre {
    color: #fff;  
}

.movie__year {
    color: #fff; 
}

.movie__genre {
    color: #fff; 
}

.movie__raiting{
    color: #fff; 
}

.movie__title-block {
    line-height: 30px;
}

.movie__img {
    width: 400px;
    height: 400px;
}

.moviecard__title {
    font-weight: 700;
}